WindowsShellExtensions/ContextMenu.opensdf
WindowsShellExtensions/ContextMenu.sdf
WindowsShellExtensions/packages/
WindowsShellExtensions/ContextMenu/Debug/
WindowsShellExtensions/ContextMenu/Release/
WindowsShellExtensions/Release/
WindowsShellExtensions/x64
build/Windows/
