# OS X
.DS_Store

# Windows
Thumbs.db

# Shell extension
WindowsShellExtensions/ContextMenu.opensdf
WindowsShellExtensions/ContextMenu.sdf
WindowsShellExtensions/packages/
WindowsShellExtensions/ContextMenu/Debug/
WindowsShellExtensions/ContextMenu/Release/
WindowsShellExtensions/Debug/
WindowsShellExtensions/Release/
WindowsShellExtensions/x64

# build directory (packaging and installer)
build/Windows/
