.validation-error-label {
	-fx-text-fill: darkred;
}

.validation-error {
 	/* parameters: type, color, radius, spread, offset x/y */
    -fx-effect: innershadow(three-pass-box, red, 7, 0.4, 0, 0);
}

.form-title {
	-fx-font-size: 22;
}

.activity-item-title {
	-fx-font-weight: bold;
}

.activity-item-warning {
	-fx-background-color: rgba(255, 0, 0, 0.2);
}
