<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--
	Include configuration outside of the package such that we can configure logging without
    creating a new package
	http://logback.qos.ch/manual/configuration.html#fileInclusion
    -->
	<include file="logback-configuration.xml" />

</configuration>